﻿@{
    ViewBag.Title = @I18n.SiteHeader;
}

@Scripts.Render("~/bundles/owl")

<h3 class="text-center alert">@I18n.SiteHeader</h3>
<hr/>
<div class="col-xs-12 col-md-8 amazing-col">
    <div id="owl-demo" class="owl-carousel owl-theme">
        @{ Html.RenderAction("ShowLastNews", "News"); }
    </div>
</div>
@{Html.RenderAction("ShowAllNews","News");}

<script>
    $(document).ready(function () {

        $("#owl-demo").owlCarousel({

            navigation: false,
            slideSpeed: 300,
            autoPlay: 5000,
            paginationSpeed: 400,
            singleItem: true,
            pagination: false,
            Transitions: true,
            transitionStyle: "goDown"
        });

    });
</script>
