﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/owl")
        @Styles.Render("~/Content/tabs")
        @Styles.Render("~/Content/inputs")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/menu")
        @Scripts.Render("~/bundles/owl")
        @Scripts.Render("~/bundles/tabs")
        @Scripts.Render("~/bundles/jqueryval")
        
    </head>
    <body>
        @Html.Partial("_Menu")
        <hr/>
        <div class="container">
            @RenderBody()
        </div>
        @RenderSection("scripts", required: false)
    
    </body>
</html>
