﻿<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">
                <a href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-home"></i>@Resources.I18n.MainPage</a>
            </span>
        </div>
        <div class="divider"></div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                    @Resources.I18n.OneWindow
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href='@Url.Action("OneWindow", "Static")'>@Resources.I18n.OneWindow</a>
                    </li>

                    <li>
                        <a href='@Url.Action("Show", "Documents", new {type = DocsTypes.Blank})'>@I18n.Blanks</a>
                    </li>

                    <li>
                        <a href='@Url.Action("Procedure", "Static")'>@Resources.I18n.Procedure</a>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            @Resources.I18n.ElectronicReception
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href='@Url.Action("AddReception", "Reception", new {@type = "YL"})'>@Resources.I18n.LegalPerson</a>
                            </li>

                            <li>
                                <a href='@Url.Action("AddReception", "Reception", new {@type = "FL"})'>@Resources.I18n.PhysicalPerson</a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <i class="glyphicon glyphicon-folder-open"></i>
                    @Resources.I18n.Services
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href='@Url.Action("Rest", "Static")'>@Resources.I18n.Rest</a>
                    </li>
                    <li>
                        <a href='@Url.Action("Privatization", "Static")'>@Resources.I18n.Privatization</a>
                    </li>
                    <li>
                        <a href='@Url.Action("YrUslugi", "Static")'>@Resources.I18n.YrUslugi</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    @I18n.AboutUs
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href='@Url.Action("History", "Static")'>@Resources.I18n.HistoryPage</a>
                    </li>
                    <li>
                        <a href='@Url.Action("Show", "Leadership")'>@Resources.I18n.Leadership</a>
                    </li>
                    <li>
                        <a href='@Url.Action("Mode", "Static")'>@Resources.I18n.Mode</a>
                    </li>
                    <li>
                        <a href='@Url.Action("Reception", "Static")'>@Resources.I18n.Reception</a>
                    </li>
                    <li>

                        <a href='@Url.Action("Show", "Documents", new {type = DocsTypes.File})'>@I18n.RegulatoryDocuments</a>
                    </li>
                    <li>
                        <a href='@Url.Action("ShowAllJobs", "Jobs")'>@Resources.I18n.Jobs</a>
                    </li>
                    <li>
                        <a href='@Url.Action("Dispatcher", "Static")'>@Resources.I18n.Dispatcher</a>
                    </li>
                    <li>
                        <a href='@Url.Action("Contacts", "Static")'>@Resources.I18n.Contacts</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            @Html.Partial("_LoginPartial")
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="padding: 10px;">
                    @if (Culture.Contains("ru"))
                    {
                        <img src="/Content/CultureItem/ru.png" height="40px"/>
                    }
                    else if (Culture.Contains("en"))
                    {
                        <img src="/Content/CultureItem/en.png" height="40px"/>
                    }
                    else
                    {
                        <img src="/Content/CultureItem/by.png" height="40px"/>
                    }
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a style="padding: 3px;" href='@Url.Action("ChangeCulture", "Home", new {@language = "ru"}, null)'>
                            <img src="/Content/CultureItem/ru.png"/>
                        </a>
                    </li>
                    <li>
                        <a style="padding: 3px;" href='@Url.Action("ChangeCulture", "Home", new {@language = "be"}, null)'>
                            <img src="/Content/CultureItem/by.png"/>
                        </a>
                    </li>
                    <li>
                        <a style="padding: 3px;" href='@Url.Action("ChangeCulture", "Home", new {@language = "en"}, null)'>
                            <img src="/Content/CultureItem/en.png"/>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.nav li.dropdown').hover(function() {
            $(this).addClass('open');
        }, function() {
            $(this).removeClass('open');
        });
    });
</script>
