﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="alert alert-danger text-center">
    <h1>Error.</h1>
    <h2 >An error occurred while processing your request.</h2>
</div>