﻿@model ReceptionsView
<div class="col-md-offset-1 col-md-10">
    <div class="input input--juro">
        @Html.TextBoxFor(m => m.Name, new { @class = "input__field input__field--juro" })
        <div class="input__label input__label--juro ">
            <label class="input__label-content input__label-content--juro">@I18n.ReceptionNameYL</label>
        </div>
    </div>
</div>

<div class="col-md-offset-1 col-md-10">
    <div class="input input--juro">
        @Html.TextBoxFor(m => m.EMail, new { @class = "input__field input__field--juro" })
        <div class="input__label input__label--juro ">
            @Html.LabelFor(m => m.EMail, new { @class = "input__label-content input__label-content--juro" })
        </div>
    </div>
</div>
<div class="col-md-offset-1 col-md-10">
    <div class="input input--juro">
        @Html.TextBoxFor(m => m.Adress, new { @class = "input__field input__field--juro" })
        <div class="input__label input__label--juro ">
            @Html.LabelFor(m => m.Adress, new { @class = "input__label-content input__label-content--juro" })
        </div>
    </div>
</div>
<div class="col-md-offset-1 col-md-10">
    <div class="input input--juro">
        @Html.TextBoxFor(m => m.Index, new { @class = "input__field input__field--juro" })
        <div class="input__label input__label--juro ">
            @Html.LabelFor(m => m.Index, new { @class = "input__label-content input__label-content--juro" })
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-8">
        @Html.TextAreaFor(m => m.Information, new { @class = "form-control col-md-12" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-8">
        @Html.TextAreaFor(m => m.Body, new { @class = "form-control col-md-12" })
    </div>
</div>

<hr />
<div class="form-group">
    <div class="col-md-8 col-lg-offset-2">
        <input type="submit" class="btn btn-success btn-lg col-md-12" value="@I18n.Send" />
    </div>
</div>

<script>
    $(document).ready(function() {
        //$("#Body")["data-provider"] = "markdown-editable";
        $("#Information").attr("placeholder", '@I18n.InformationReceptionYL');
        $("#Body").attr("placeholder", '@I18n.TextReception');
        //$("#Body").markdown({
        //    width: "col-md-8"
        //});
        //$('input[type=file]').bootstrapFileInput();
        //$('.file-inputs').bootstrapFileInput();
    });
</script>
