﻿
@model RequestView
@{var reception = ViewBag.reception;}
@Styles.Render("~/Content/markdown")
@section Scripts {
    @Scripts.Render("~/bundles/markdown")
}

@using (Html.BeginForm("RequestReception", "Reception", FormMethod.Post,
    new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
     <h1 class="text-center">@reception.Name</h1>
     <div class="col-lg-12">
       @*<small class="col-lg-2"><b>@Model</b></small>*@
         <br/>
         <div class="text-center">@reception.Adress , @reception.Index</div>
         <div class="text-center">@reception.Information</div>
         <br/><br /><br />
         <h4 class="text-center">@reception.Body</h4>
    </div>
     <div class="form-group">
        <div class="col-md-offset-2 col-md-12">
            @Html.TextAreaFor(m => m.Body, new { @class = "form-control col-md-8" })
        </div>
    </div>
     <div class="col-md-offset-1 col-md-10">
        <div class="input input--juro">
            @Html.TextBoxFor(m => m.RequestEMail, new { @class = "input__field input__field--juro" })
            <div class="input__label input__label--juro ">
                @Html.LabelFor(m => m.RequestEMail, new { @class = "input__label-content input__label-content--juro" })
            </div>
        </div>
    </div>
     <div class="col-md-offset-1 col-md-10">
        <div class="input input--juro">
            @Html.TextBoxFor(m => m.Password, new { @class = "input__field input__field--juro" })
            <div class="input__label input__label--juro ">
                @Html.LabelFor(m => m.Password, new { @class = "input__label-content input__label-content--juro" })
            </div>
        </div>
    </div>
    @Html.TextBoxFor(m => m.ReceptionId, new { @class = "form-control", @id = "Typ" });
     <div class="form-group">
        <div class="col-md-8 col-lg-offset-2">
            <input type="submit" class="btn btn-success btn-lg col-md-12" value="@I18n.Add" />
        </div>
     </div>
}

<script>

    $('#Typ').val('@reception.Id');
    $('#Typ').hide();
    $(document).ready(function() {
        $("#Body")["data-provider"] = "markdown-editable";
        $("#Body").attr("placeholder",'@I18n.Field_Description');
        $("#Body").markdown({
            width: "col-md-8"
        });
        $('input[type=file]').bootstrapFileInput();
        $('.file-inputs').bootstrapFileInput();
    });

</script>
