﻿@model Project.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title text-center">@I18n.LogIn</h4>
</div>

@using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    <div class="modal-body col-xs-12">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="input input--juro">
                @Html.TextBoxFor(m => m.UserName, new { @class = "input__field input__field--juro" })
            <div class="input__label input__label--juro ">
                @Html.LabelFor(m => m.UserName, new { @class = "input__label-content input__label-content--juro" })
            </div>
        </div>
        <div class="input input--juro">
            <div class="input__label input__label--juro ">
                @Html.LabelFor(m => m.Password, new { @class = "input__label-content input__label-content--juro" })
            </div>
            @Html.PasswordFor(m => m.Password, new { @class = "input__field input__field--juro" })
        </div>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>

        <div class="text-center">
            <input type="submit" value="@I18n.LogIn" class="btn btn-success col-xs-12" />
        </div>
    </div>
    
}
<script src="~/Scripts/inputEffect.js"></script>
