﻿@model JobsView

@Styles.Render("~/Content/markdown")

@section Scripts {

    @Scripts.Render("~/bundles/markdown")
}

@using (Html.BeginForm("AddJobs", "Jobs", FormMethod.Post,
    new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="col-md-offset-1 col-md-10">
        <div class="input input--juro">
            @Html.TextBoxFor(m => m.Header, new { @class = "input__field input__field--juro" })
            <div class="input__label input__label--juro ">
                @Html.LabelFor(m => m.Header, new { @class = "input__label-content input__label-content--juro" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-12">
            @Html.TextAreaFor(m => m.Body, new { @class = "form-control col-md-8" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-md-8 col-lg-offset-2">
            <input type="submit" class="btn btn-success btn-lg col-md-12" value="@I18n.Add" />
        </div>
    </div>
}

<script>
    $(document).ready(function() {
        $("#Body")["data-provider"] = "markdown-editable";
        $("#Body").attr("placeholder",'@I18n.Field_Description');
        $("#Body").markdown({
            width: "col-md-8"
        });
        $('input[type=file]').bootstrapFileInput();
        $('.file-inputs').bootstrapFileInput();
    });

</script>
