﻿@model List<News>
    

@foreach (var news in Model)
{
    <div class="image" style="width: 90%;">
        <a href='@Url.Action("NewsView","News",new {@newsId=news.Id})'>
            <img class="img-rounded" src="@news.ImageUrl" height="400px" width="110%" />
            <label class="h2_news"><span>@news.Header</span></label>
        </a>

    </div>

}
