﻿@model List<Project.Models.News>

@foreach (var news in Model.Skip(5))
{
    <div class="col-xs-12 col-md-4 amazing-col amazing-img">
        <a class="some" href='@Url.Action("NewsView", "News", new {@newsId = news.Id})'></a>
        <div class="image">
            <img class="" src="@news.ImageUrl" height="200px" width="100%"/>
            <label class="h3_news">
                <span>@news.Header</span>
                <p class="news-date col-xs-5 text-center col-xs-offset-7">@news.Date</p>
            </label>
        </div>
    </div>
}